<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Restaurants to Try</title>
</head>
<body>
    <h1>Here Are Your Restaurants</h1>
  <ul>
    <% restaurants.forEach(function(restaurant, idx) { %>
      <li>
        <form action="/restaurants/<%= idx %>?_method=DELETE"
          class="delete-form" method="POST">
          <button type="submit">X</button>
        </form>
        <a href="/restaurant/<%= idx %>"><%= restaurant.text %></a>
          - 
        <%= restaurant.done ? 'Done' : 'Not done' %>
      </li>
    <% }); %>
  </ul>
  <a href="/restaurant/new">Add Restaurant</a>
</body>
</html>