<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Add a new restaurant</title>
</head>
<!-- THE HEAD TAG PARTIAL -->
<%- include("../partials/head") %>

<body>
<!-- THE HEADER TAG PARTIAL -->
<%- include("../partials/header") %>
    <h2 class="subtitle is-2">Add in a new restaurant</h2>
    <div class="container" style="display: flex; flex-wrap: wrap; justify-content: space-around;">
    <form action="/restaurants" method="POST" autocomplete="off">
      Restaurant: <input type="text" name="name" /><br /><br />
      Location: <input type="text" name="location" /><br /><br />
      Dish to try: <input type="text" name="dish" /><br /><br />
      <input type="submit" name="" value="Add Restaurant"/>
    </form><br /><br />
  </div>
    <nav>
      <br /><a href="/restaurants">Back to the home page</a>
    </nav>
        <!-- THE HEAD TAG PARTIAL -->
        <%- include("../partials/footer") %>  
  </body>
</html>

